# Dependências
node_modules/

# Build / Compilação
dist/
build/
*.tsbuildinfo

# Variáveis de Ambiente
.env
.env.test

# Banco de Dados local (SQLite)
db/*.sqlite
db/*.sqlite-journal
db/*
!db/migrations/

# Logs e Cache
npm-debug.log*
.eslintcache
